@model IEnumerable<FirstDbApp.ViewModel.EmployeeVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee List</h2>

<p>
    @Html.ActionLink("Create new employee", "Create")
</p>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Gender
            </th>
            <th>
                Department
            </th>
            <th>
                Email
            </th>
            <th>
                Contact Number
            </th>
            <th>
                BirthDate
            </th>
            <th>
                Joining Date
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>
                    @employee.EmployeeID
                </td>
                <td>
                    @employee.FullName
                </td>
                <td>
                    @employee.Gender
                </td>
                <td>
                    @employee.Department
                </td>
                <td>
                    @employee.Email
                </td>
                <td>
                    @employee.ContactNumber
                </td>
                <td>
                    @employee.DateOfBirth.ToString("MM/dd/yyyy")
                </td>
                <td>
                    @employee.DateOfJoining.ToString("MM/dd/yyyy")
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = employee.EmployeeID })
                </td>
            </tr>
        }
    </tbody>
</table>