@using FirstApp.Models
@model Employee

@{
    ViewBag.Title = "GetStrongEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetStrongEmployee</h2>



<table class="table">
    <tr>
        <td>
            Employee ID
        </td>
        <td>
            @Model.EmployeeID
        </td>
    </tr>
    <tr>
        <td>
            First Name
        </td>
        <td>
            @Model.FirstName
        </td>
    </tr>
    <tr>
        <td>
            Last Name
        </td>
        <td>
            @Model.LastName
        </td>
    </tr>
    <tr>
        <td>
            Full Name
        </td>
        <td>
            @(Model.FirstName + " " + Model.LastName)
        </td>
    </tr>
    <tr>
        <td>
            Salary
        </td>
        <td>
            @Model.Salary.ToString("C")
        </td>
    </tr>
</table>
